[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=XVideos
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fcjhgiigilooncfpjlkgibhjonlbaljp
Icon=chrome-fcjhgiigilooncfpjlkgibhjonlbaljp-Default
StartupWMClass=crx_fcjhgiigilooncfpjlkgibhjonlbaljp
